
/*
* === GENERAL STYLES ===
*/
body {
  width: 100%;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  padding: 0;
  hyphens: none;
}

h3 {
  font-size: 25px;
}


/*
* === NAVIGATION MENU ===
*/
header {
  width: 100%;
}

.logo img {
  position: fixed;
  float: left;
  margin: 12px 50px;
  height: 70px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 100px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  color: #343436;
  padding: 0;
  text-align: center;
  // margin: 12px 0;
  transition: 1s;
  width: 100%;
  margin-left: 22%
}

nav.white ul {
  background: #000;
  background: #fff;
}

nav ul li {
  display: inline-block;
  padding: 20px 15px;

  a {
    text-decoration: none;
    color: #343436;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 15px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      border-top: 2px solid #E8954C;
      border-bottom: 2px solid #E8954C;
      padding: 6px 0; 
    }
  }
}

.menu-icon {
  width: 100%;
  background: #000;
  background-color: #fff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  color: #343436;
  display: none;
}


/*
* === HERO IMAGE SECTION ===
*/
#hero-image {
  height: 100vh;
  display: flex;
  background-image: url("../assets/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  }

.hero-text {
  padding-top: 15rem;
}

.arrow {


  i {
    font-size: 1.6rem;
    position: absolute;
    // position: relative;
    bottom: 2em;
    background: #4f4f52;
    padding: 1.2%;
    border-radius: 100%;
    color:  #E8830C;

  }
}



h1, h4 {
  color: #343436;
  font-weight: 100;
}

h1 {
  font-size: 3.2rem;

  span {
    color: #E8830C;
  }
}

h4 {
  font-size: 1.5rem;
  font-style: italic;
}




/*
* === OFIRMIE SECTION ===
*/
#o-firmie {
  padding: 10rem 17rem;
  text-align: center;

  p {
    font-size: 20px;
    margin-top: 0;
  }
}

.o-firmie-text {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8%;

  hr {
    width: 20%;
    margin-bottom: 2.5rem;
    height: 1.5px;
    background-color: #E8954C;
    border: 0;
  }
}


/*
* === PARALAX SECTION ===
*/
.parallax {
  background-image: url("../assets/parallax_grey.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*
* === O-DORADCY SECTION ===
*/
#o-doradcy {
  display: flex;
  padding: 10rem;
  background-color: #F5F5F5;

  aside {
    width: 45%;
    display: flex;
    justify-content: center;
  }

  article {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-size: 20px;
      line-height: 1.5em;
    }

    hr {
      width: 20%;
      height: 1.5px;
      background-color: #E8954C;
      border: 0;
    }
  }
}


/*
* === QUOTE SECTION ===
*/
.quote-content {
  background-color: #343436;
  height: 25rem;
  margin-top: -20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column; 

  p {
    color: white;
    font-size:  20px;
    padding: 1rem;
  }
}

.quote-content p:last-child {
  font-size:  17px;
}

.quote {
  display: flex;
  justify-content: center; 

  i {
    color: white;
    color: #5d5149;
    font-size:  40px;

    &:first-child {
      padding-top: 3rem;
    }
  }
}


/*
* === ZAKRES USLUG SECTION ===
*/
#zakres-uslug {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem;

  ul {
    list-style-type: none;
    line-height: 3.5rem;
    font-size: 20px;
    margin-left: -30px;

    li i {
      color: #E8954C;
    }
  }
}

.zakres-uslug-content {
  padding: 5rem 10rem;
  /*border-radius: 10px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*
* === INFO TILES SECTION ===
*/
.info-tiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F5F5F5;
  padding-bottom: 5%;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
}

.tile-content {
  display: flex;
  justify-content: center;
  width: 80%; 
  text-align: center;

  p {
    margin-top: 2rem;
    font-size: 20px;
    color: #262626;
  }
}

.tile-card {
  width: 220px;
  margin-top: 20%;
  padding: 35% 15%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  i {
    font-size: 35px;
    color: #262626;
  }
}


/*
* === GOOGLE MAPS ===
*/
#google-map {
  justify-content: center;
  display: flex;

  iframe {
    padding: 5rem;
    width: 70vw;
    height: 50vh;
  }
}

/* ARIA accessiblity skip-link for MAP */
 .skip-link {
  position: relative;
  top: 55px;
  margin-left: -250px;
  background: #E8830C;
  color: #fff;
  padding: 10px;
  z-index: 100;
  text-decoration: none;

  &:focus {
    margin-left: 50px;
  }
}

/*
* === MOCKUP SECTION ===
*/
.mockup {
  height: 60vh;
  width: 100%;
  background-image: url("../assets/mockup_kancelaria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


/*
* === FOOTER ===
*/
footer {
  display: flex;
  width: 100%;
  background-color: #343436;
  padding-top: 4rem;
  padding-bottom: 3rem;

  i {
    font-size: 25px;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

// fallback img with e-mail
  p {
    margin: 0;
    img {
      height: 32px;
    }
  }
}

.footer-tile-content {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 17px;
}


/*
* === SMALL FOOTER ===
*/
.small-footer {
  text-align: center;
  font-size: 12px;
  background: #F5F5F5;
  background: #343436;
  padding: 2% 5%;
  color: #fff;

    p {
      opacity: 0.7;
    }

    p > a {
      color:#f8d7b7;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
}

/*
* === MEDIA QUERIES ===
*/
@media screen and (max-width: 545px) {
  h4 {
    font-size: 1.2rem;
  }
  .listauslug li {
    padding-top: 1rem;
  }
}


@media screen and (max-width: 725px) {
  aside img {
    width: 14em;
    height: 14em;
  }
  #o-doradcy article p {
    font-size: 17px;
  }
  .quote i {
    font-size:  30px;

    &:first-child {
      padding-top: 4rem;
    }
  }
  .quote-content p {
    font-size:  15px;

    &:last-child {
    font-size:  15px;
  }
  }
  .quote-content {
    padding: 1rem;
    height: 17rem;
  }
  .info-tiles {
     flex-direction: column; 
  }
  .tile {
    width: 100%;
  }
  .tile-card {
    padding: 15% 10%;
  }
  .mockup {
    display: none;
  }
  #google-map iframe {
    width: 85vw;
    padding: 1.5rem;
    padding-top: 0.5rem;
  }
}


@media screen and (max-width: 874px) {
  header {
    height: 80px;
  }
  .logo img {
    position: fixed;
    top:0;
    height: 50px;
    margin: 15px 25px;
  }
  nav ul {
    max-height: 0px;
    background: #fff;
    margin-left: 0%;
    margin-top: -2%;
    li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px 0;
      text-align: center;
    }
  }
  nav.white ul {
    background: #fff;
  }
  .menu-icon {
    display:block;
    i {
      padding: 0.6rem;
    }
  }
  .showing {
    margin-top: -2%;
    max-height: 35em;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  }
  .arrow {
    i {
      font-size: 1.4rem;
      padding: 2.5%;
    }
  }
}

@media screen and (min-width: 875px) and (max-width: 1488px) {
  nav ul {
    margin-left: 20%;
  }
}


@media screen and (min-width:  726px) and (max-width: 1210px ) {
  .tile {
    width: 50%;
  }
  .tile-content {
    width: 100%;
  }
}


@media screen and (max-width: 1209px) {
  #menu ul {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
  }
  .hero-text {
  padding-top: 10rem;
  }
  #o-firmie {
  padding: 4.5rem 1.3rem;
  text-align: center;
    p {
      font-size: 17px;
    }
  }
  .o-firmie-text hr {
    width: 30%;
  }
  #o-doradcy {
    flex-direction: column;
    padding: 4.5rem 3rem;
    article {
      width: 100%;
    }
    aside {
      width: 100%;
    }
  }
  aside img {
    margin-bottom: 4rem;
  }
  .zakres-uslug-content {
    padding: 8%;
  }
  #zakres-uslug {
    padding: 4.5rem 1.5rem;
    ul {
      font-size: 16px;
      line-height: 2rem;
    }
  }
  .info-tiles {
    padding-bottom: 15%;
  }
  .tile-card {
    padding: 25% 15%;
  }
  .parallax {
    display: none;
  }
  footer {
    flex-direction: column;
    p {
      margin-top:  0.2rem;
    }
  }
  .footer-tile-content {
    width: 100%;
    margin-bottom: 3.5rem;
    font-size: 15px;
  }
}

@media screen and (min-width: 1247px) {
  nav ul {
    margin-left: 30%;
  }
  aside img {
    margin-right: 12rem;
  }
  .arrow {
    i {
      margin-left: -3%;
    }
  }
}